# Todo

Actionable tasks and development roadmap.

## Now

- [ ] [setup] Initial repository task setup

## Next

- [ ] [core] Feature development

## Later

- [ ] [idea] Future improvement exploration

## Done (Unreleased)

